.recommendation_container {
    margin: 30px 0;
    padding: 0 30px;
}

.recommendation_list > li:not(:last-child) {
    margin-bottom: 15px;
}

.recommendation_list > li > a {
    font-family: var(--text_font_1);
    font-size: 12px;
    letter-spacing: .5px;
    
    color: black;
}

@media (min-width: 850px) {
    .recommendation_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .recommendation_list > li:not(:last-child) {
        margin-bottom: 20px;
    }
}
