.recommendation_container {
    margin: 30px 0;
    padding: 0 30px;
}

.recommendation_list {
}

.recommendation_list > li {

}

.recommendation_list > li:not(:last-child) {
    margin-bottom: 15px;
}

.recommendation_list > li > a {
    color: black;

    font-family: var(--text_font_1);
    font-size: 12px;
    letter-spacing: .5px;
}