.nav_list {
    width: var(--menu_list_width);
    height: 100vh;

    padding-top: 90px;

    top: 0;
    right: calc(var(--menu_list_width) * -1);
    position: fixed;

    background-color: black;

    z-index: 1;
    transition: .3s;
}

.nav_item_sublist {
    position: relative;
}

.nav_link {
    padding: 15px 50px;
    display: flex;

    font-size: 1rem;
    font-family: var(--text_font_1);

    color: white;
    background-color: black;
}

.more_icon_wrapp  {
    margin-left: 8px;
}

.more_icon_wrapp > svg {
    width: 6px;
    stroke: none;
    fill: white;
}

.more_sublist {
    position: absolute;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);

    display: flex;
    justify-content: center;
    z-index: -1;

    transition: .3s;
}

.more_sublist_item {
    padding: 10px;
}

.more_sublist_link {
    padding: 5px 10px;

    font-size: 0.875rem;
    font-family: var(--text_font_1);
    letter-spacing: .5px;

    color: black;
    background-color: white;
}

/* Estilos interativos */

.show_list {
    right: 0;
}

.show_sublist {
    top: 100%;
}

.rotate_arrow > svg {
    transform: rotate(90deg);
}
