.aboutWebsite_container {
    margin: 0 0 var(--section_margin) 0;
    padding: 0 30px;
}

.title_wrapp {
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title_icon_wrapp {
    width: 15px;
    height: 15px;

    margin: 2px 10px 0px 0px;

    display: flex;
}

.title_icon_wrapp > svg {
    width: inherit;
    height: inherit;

    fill: black;
}

.title {
    font-family: var(--subtitle_font);
    letter-spacing: var(--space_title_subtitle);
}

.text {
    font-size: 12px;
    font-family: var(--text_font_1);
    line-height: 1.5em;
}

.text > p:not(:last-child) {
    margin-bottom: 10px;
}

@media (min-width: 850px) {
    .aboutWebsite_container {
        margin-top: 51px;
    }

    .title_wrapp {
        margin-bottom: 20px;
    }

    .title_icon_wrapp {
        width: 18px;
        height: 18px;
    }

    .text {
        width: 750px;

        font-size: 14px;
        letter-spacing: .5px;
    }
}
