.module__container {
    padding: 0 30px;
}

.summary_wrapp {
    margin-bottom: 30px;
}

.summary_wrapp > h3 {
    margin-bottom: 20px;
    font-family: var(--text_font_2);
    text-align: center;
    letter-spacing: .5px;
}

.links_wrapp {
    display: flex;
    flex-direction: column;
}

.links_wrapp > a {
    padding: 5px;

    display: inline-block;
    font-family: var(--text_font_1);
    letter-spacing: .5px;
    color: black;
    font-size: 12px;
}

.links_wrapp > a:not(:last-child) {
    margin-bottom: 10px;
}

.image_wrapp  > h3 {
    margin-bottom: 20px;
    font-family: var(--text_font_2);
    text-align: center;
    letter-spacing: .5px;
}

.image_wrapp > a {
    padding: 5px;

    display: inline-block;

    font-family: var(--text_font_1);
    letter-spacing: .5px;
    font-size: 12px;

    color: black;
}

.nothing {
    text-align: center;
    font-family: var(--text_font_1);
    letter-spacing: .5px;
}

@media (min-width: 850px) {
    .module__container {
        margin-left: 240px;
    }

    .links_wrapp > a, .image_wrapp > a {
        font-size: 13px;
    }
}