.module_card {
    padding: 30px 0;

    border-radius: 15px;
    
    text-align: center;
    font-family: var(--text_font_1);
    font-size: 12px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.055);
    border: 1px solid rgba(0, 0, 0, 0.066);
    color: black;
    background-color: white;
}

@media (min-width: 850px) {
    .module_card {
        padding: 20px 30px;

        font-size: 13px;
    }
}