.logo_wrapp {
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.logo_link {
    color: black;
}

.logo_title {
    line-height: 1.1em;
    letter-spacing: .5px;

    text-align: center;
    font-size: 1rem;
    font-family: var(--title_font);
}

/* Estilo interativo */

.scrolling {
    color: white;
}

@media (min-width: 850px) {
    .logo_wrapp {
        width: 70px;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo_title {
        line-height: 1.2em;
        font-size: 1.125rem;
        letter-spacing: 1px;
    }
}
