.nav {
    padding: 0px 20px;
}

.recommendation_list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.recommendation_item {
    margin-bottom: 10px;
}

.recommendation_item > a {
    padding: 3px 10px 3px 10px;
    
    font-size: 0.75rem;
    font-family: var(--text_font_1);
    letter-spacing: .3px;

    border-radius:  30px;

    color: white;
    background-color: black;
}