.nav {
    padding: 0px 20px;
}

.recommendation_list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.recommendation_item {
    margin-bottom: 10px;
}

.recommendation_item > a {
    padding: 3px 10px 3px 10px;
    
    font-size: 0.75rem;
    font-family: var(--text_font_1);
    letter-spacing: .3px;

    border-radius:  30px;

    color: white;
    background-color: black;
}

@media (min-width: 850px) {
    .nav {
        margin-bottom: 80px;
        padding: 0;
    }

    .recommendation_list {
        width: 450px;

        margin: 0 auto;
    }

    .recommendation_item {
        margin-bottom: 15px;
    }

    .recommendation_item > a {
        padding: 5px 15px;
        
        font-size: 13px;
    }
}
