.nav {
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_wrapp {
    height: 100%;

    display: flex;
    align-items: center;

    padding: 0px 5px;

    border-right: 1px solid white;
    background-color: black;

    cursor: pointer;
}

.button_wrapp:last-child {
    border-right: none;
    border-left: 1px solid white;
}

.button_wrapp:first-child > svg {
    transform: rotateY(180deg);
}

.button_wrapp > svg {
    width: 15px;
    fill: white;
}

.recommendation_list_wrapp {
    width: 100%;
    height: 100%;
    position: relative;

    overflow-x: hidden;
}

.recommendation_list {
    height: 100%;

    position: absolute;
    left: 0;

    display: flex;
    align-items: center;

    /* background-color: purple; */
}

.recommendation_item {
}

.recommendation_item:not(:last-child) {
    
}

.recommendation_item > a {
    padding: 5px 15px 4px 15px;
    
    font-size: 12px;
    font-family: var(--text_font_1);
    letter-spacing: .3px;

    color: white;
    background-color: black;
}

.recommendation_item:not(:last-child) > a {
    border-right: 1px solid white;
}