.tecnology_sublist {
    height: 0;
    overflow: hidden;
    padding-left: 20px;
}

.tecnology_item_sublist > a {
    width: 100%;
    height: 20px;
    padding-left: 5px;

    display: flex;
    align-items: center;

    font-family: var(--text_font_1);
    font-size: 10px;
    letter-spacing: .5px;

    color: black;
}

.tecnology_item_sublist:first-child > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.tecnology_item_sublist:first-child > a, .tecnology_item_sublist:nth-child(2) > a {
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    border-right: 1px solid rgba(0, 0, 0, 0.10);
}

.tecnology_item_sublist:last-child > a {
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    border-right: 1px solid rgba(0, 0, 0, 0.10);
}

/* estilo Interativo */

.expand_sublist {
    height: auto;
}
