.container {
    padding: 30px 30px 30px 30px;
}

.container > h3 {
    margin-bottom: 20px;
    font-family: var(--text_font_2);
    text-align: center;
    letter-spacing: .5px;
}

.list > li > a {
    padding: 5px;

    display: inline-block;
    font-family: var(--text_font_1);
    letter-spacing: .5px;
    color: black;
    font-size: 12px;
}

.list > li:not(:last-child) {
    margin-bottom: 5px;
}
