:root {
    /* Text */
    --title_font: "keania-one", sans-serif;
    --subtitle_font: "nerko-one", sans-serif;
    --text_font_1: "inter", sans-serif;
    --text_font_2: "poppins", sans-serif;

    /* menu list width */
    --menu_list_width: 225px;

    /* Letter space */
    --space_title_subtitle: 1px;

    /* section margin */
    --section_margin: 50px;
} 

@font-face {
    font-family: "keania-one";
    src: url("../assets/fonts/keania-one/KeaniaOne-Regular.ttf");
}

@font-face {
    font-family: "nerko-one";
    src: url("../assets/fonts/nerko-one/NerkoOne-Regular.ttf");
}

@font-face {
    font-family: "inter";
    src: url("../assets/fonts/Inter/Inter-Regular.otf");
}

@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
