@media (min-width: 850px) {
  .layout {
    margin-top: 50px;
  }

  .sectionGroupTop {
    display: grid;
    grid-template-columns: .8fr 1fr;
    align-items: start;
  }

  .sectionGroupBottom {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
