.projects_container {
    /* height: 100vh; */
}

.projects_title {
    margin-top: 30px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.projects_title > h2 {
    font-family: var(--subtitle_font);
    letter-spacing: 1px;
}