.home {
    margin: 50px 0px 70px 0px;
}

.info_home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_title_container {
    text-align: center;
    font-family: var(--title_font);
}

.home_title_container > p:first-child {
    margin-bottom: -6px;
    font-size: 1.1rem;
    letter-spacing: .5px;
    text-align: right;
}

.home_title_container > h1 {
    font-size: 2.938rem;
    letter-spacing: 1px;
}

.dev_function_wrapp {
    width: 165px;
    height: 20px;

    margin: 10px auto 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}

.dev_function_wrapp > p {
    font-size: 0.75rem;
    letter-spacing: .5px;
}

.icon_home_info_container {
    margin-top: 30px;
    display: flex;
}

.icon_home_info {
    padding: 5px;
}

.icon_home_info > svg {
    width: 21px;
    height: 21px;

    fill: black;
}

.icon_home_info:first-child {
    margin-right: 10px;
}

@media (min-width: 850px) {
    .home_title_container > p:first-child {
        font-size: 1.300rem;
        letter-spacing: .5px;
    }

    .home_title_container > h1 {
        font-size: 4rem;
    }

    .dev_function_wrapp {
        width: 215px;
        height: 23px;

        margin: 10px auto 0 auto;
    }

    .dev_function_wrapp > p {
        font-size: 1rem;
        letter-spacing: .5px;
    }

    .icon_home_info > svg {
        width: 25px;
        height: 25px;
    }
}