.courses_container {
    margin-bottom: 50px;
    padding: 30px 30px 0 30px;
}

.courses_cev_container > h3 {
    margin-bottom: 40px;

    text-align: center;
    font-family: var(--text_font_2);
    letter-spacing: 1px;
}

.card_wrapp {
    padding: 0 90px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 850px) {
    .courses_container {
        margin: 0 0px 0 30px;
        padding: 0px;
    }

    .card_wrapp {
        padding: 0px;
        flex-direction: row;
    }
}
