.working_container {
    padding: 0 30px 20px 30px;
}

.working_title_wrapp {
    margin-top: 30px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;   
}

.working_title_wrapp > h2 {
    font-family: var(--subtitle_font);
    letter-spacing: 1px;
}
