.working_container {
    padding: 0 30px 20px 30px;
}

.working_title_wrapp {
    margin-top: 30px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;   
}

.working_title_wrapp > h2 {
    font-family: var(--subtitle_font);
    letter-spacing: 1px;
}

@media (min-width: 850px) {
    .working_container {
        margin-top: 150px;
        padding: 0 30px 0px 30px;
    }

    .working_title_wrapp {
        margin: 0;
    }

    .working_title_wrapp > h2 {
        display: none;
    }

    .working_cards_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}
