svg {
    width: 8px;
    fill: white;
}

.tecnology_nav {
    margin-bottom: 35px;
    padding: 20px;
}

.intro_list {
    position: absolute;
    background-color: white;
}

.intro_wrapp {
    width: 120px;
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}

.intro_wrapp > a {
    height: 25px;
    padding: 0 15px;

    display: flex;
    align-items: center;

    font-family: var(--text_font_1);
    font-size: 12px;
    letter-spacing: .5px;

    color: white;
    background-color: black;
}

.intro_icon_btn {
    width: 23px;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
}

.tecnology_list {
    width: 120px;

    height: 0;

    overflow: hidden;

    background-color: white;
}

.tecnology_wrapp {
    width: 100%;
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;

    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.tecnology_wrapp > a {
    width: 100%;
    height: 25px;

    padding: 0 0 0 15px;

    display: flex;
    align-items: center;

    font-family: var(--text_font_1);
    font-size: 12px;
    letter-spacing: .5px;

    color: black;
}

.tecnology_icon_btn {
    width: 29.5px;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tecnology_icon_btn > svg {
    fill: black;
}

/* estilo Interativo */

.icon_rotate > svg {
    transform: translateY(2px) translateX(-.3px) rotate(90deg);
}

.expand {
    height: auto;
}

@media (min-width: 850px) {
    .tecnology_nav {
        margin-right: 200px;
        padding-left: 180px;
    }

    .tecnology_list {
        height: auto;
    }

    .intro_icon_btn {
        display: none;
    }

    .intro_wrapp {
        width: 120px;
        height: 35px;
    }

    .intro_wrapp > a {
        width: 100%;
        height: 35px;

        font-size: 14px;

        color: black;
        background-color: transparent;
    }

    .intro_wrapp > a:hover {
        color: white;
        background-color: black;
    }

    .tecnology_list {
        width: 120px;
    }

    .tecnology_wrapp {
        width: 100%;
        height: 35px;
    }

    .tecnology_wrapp > a {
        width: 100%;
        height: 100%;

        font-size: 14px;
    }

    .tecnology_wrapp > a:hover {
        color: white;
        background-color: black;
    }

    .active {
        color: white !important;
        background-color: black !important;
    }
}
