.htmlcss_container {
    padding: 0 30px;
} 

.html_tags_article {

}

.html_tags_article > h3 {
    margin-bottom: 30px;

    text-align: center;
    font-family: var(--text_font_2);
    letter-spacing: .5px;
}

.html_tags_list {

}

.html_tags_list > li {
    margin-bottom: 8px;
    font-family: var(--text_font_1);
}

.css_selectors_article {

}

.css_selectors_article > h3 {
    font-family: var(--text_font_1);
}

.css_selectors_list {

}

.css_selectors_list > li {

}

.notes_container {

}

.notes_container > h3 {
    font-family: var(--text_font_1);
}

.notes_container > p {

}
