.container {
    padding: 0 30px;
    margin-bottom: 50px;

    font-family: var(--text_font_1);
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 1.5em;
}

.container > p:not(:last-child) {
    margin-bottom: 10px;
}

@media (min-width: 850px) {
    .container {
        width: 800px;
        font-size: 14px;
    }
}