.study_title {
    margin-top: 30px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.study_title > h2 {
    font-family: var(--subtitle_font);
    letter-spacing: 1px;
}

@media (min-width: 850px) {
    .study_container {
        margin-top: 100px;
    }

    .study_title {
        display: none;
    }

    .study_wrapp {
        display: flex;
    }
}
