.footer {
    /* display: none; */
}

.info_wrapp {
    padding: 10px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
}

.info_wrapp > p {
    font-size: 0.75rem;
    font-family: var(--text_font_1);
    letter-spacing: .3px;

    color: white;
}
