.htmlcss_container {
    margin-bottom: 50px;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
}

.htmlcss_container > h3 {
    margin-bottom: 30px;

    text-align: center;
    font-family: var(--text_font_2);
    letter-spacing: 1px;
}

.htmlcss_list > li > a {
    padding: 5px;
    display: inline-block;

    font-family: var(--text_font_1);
    color: black;
    letter-spacing: .5px;
    font-size: 12px;
}

.htmlcss_list > li:not(:last-child) > a {
    margin-bottom: 10px;
}
