.container {
    margin-bottom: 50px;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
}

.container > h3 {
    margin-bottom: 30px;

    text-align: center;
    font-family: var(--text_font_2);
    letter-spacing: 1px;
}

.main_list > li > a {
    padding: 5px;
    display: inline-block;

    font-family: var(--text_font_1);
    color: black;
    letter-spacing: .5px;
    font-size: 12px;
}

.main_list > li:not(:last-child) > a {
    margin-bottom: 10px;
}

.list {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list > li > a {
    width: 100px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-family: var(--text_font_1);
    letter-spacing: .5px;

    border: 1px solid black;
    color: black;
    background-color: white;
}

.list > li:first-child > a {
    margin-right: 10px;
}

.list > li > a > svg {
    width: 12px;

    margin-right: 5px;

    stroke: black;
    fill: transparent;
}

@media (min-width: 850px) {
    .container {
        margin-left: 230px;
        padding: 0px 30px 0 30px;
    }

    .main_list > li > a {
        font-size: 13px;
    }

    .main_list > li:not(:last-child) > a {
        margin-bottom: 20px;
    }

    .list > li > a {
        font-size: 13px;
    }
}
